body {
  background-color: #f9f7fe;
  font-family: "Playfair Display", serif;
}
h1 {
  color: #b0b7c1;
  font-size: 24px;
  font: weight 100px;
  line-height: 35px;
  text-align: left;
  font-family: "Playfair Display", serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-transform: capitalize;
}
